.controls-box {
    -fx-spacing: 8;
    -fx-padding: 0 0 8 0;
    -fx-alignment: center;
}

.drop-pane {
    -fx-border-color: Gray;
    -fx-border-width: 1;
    -fx-border-style: dashed;
    -fx-border-radius: 12;
    -fx-background-color: LightGray;
    -fx-background-radius: 12;
    -fx-padding: 64;
}

.drop-pane:files-drag-over {
    -fx-border-color: ForestGreen;
    -fx-background-color: LightGreen;
}

.root-pane {
    -fx-padding: 12;
}