.markdown-view {
    -mdfx-font-color: -fx-text-base-color;
    -mdfx-link-color: -fx-accent;
    -mdfx-border-color-1: -fx-box-border;

    -mdfx-bg-color-1: -fx-control-inner-background;
    -mdfx-bg-color-2: -fx-control-inner-background-alt;
    -mdfx-bg-color-3: -fx-color;

    -mdfx-bq-color-border: derive(-fx-accent, -50%);
    -mdfx-bq-color-background: -fx-accent;
    -mdfx-bq-text-fill: -fx-selection-bar-text;

    -mdfx-code-block-border: -fx-box-border;
    -mdfx-code-block-background: -fx-control-inner-background;
}

.markdown-text {
    -fx-fill: -mdfx-font-color;
}

.markdown-italic {
    -fx-font-style: italic;
}

.markdown-bold {
    -fx-font-weight: bold;
}

.markdown-strikethrough {
    -fx-strikethrough: true;
}

.markdown-normal-flow {
    -fx-line-spacing: 5;
}

.markdown-heading .markdown-text {
    /*-fx-line-spacing: 100;*/
    -fx-fill: -mdfx-font-color;
}

.markdown-heading-1 {
    -fx-padding: 14px 0px;
}

.markdown-heading-2 {
    -fx-padding: 10px 0px;
}

.markdown-heading-3 {
    -fx-padding: 8px 0px;
}

.markdown-heading-4 {
    -fx-padding: 6px 0px;
}

.markdown-heading-5 {
    -fx-padding: 4px 0px;
}

.markdown-heading-1 .markdown-text {
    -fx-font-size: 2em;
}

.markdown-heading-2 .markdown-text {
    -fx-font-size: 1.75em;
}

.markdown-heading-3 .markdown-text {
    -fx-font-size: 1.5em;
}

.markdown-heading-4 .markdown-text {
    -fx-font-size: 1.25em;
}

.markdown-heading-5 .markdown-text {
    -fx-font-size: 1em;
}

.markdown-link {
    -fx-fill: -mdfx-link-color;
    -fx-cursor: hand;
}

.markdown-link-hover {
    -fx-underline: true;
}

.markdown-paragraph-list {
    -fx-spacing: 15px;
}

.markdown-listitem-dot {
    -fx-text-fill: -mdfx-font-color;
}

.markdown-codeblock-box,
.markdown-code {
    -fx-padding: 0px 8px;
}

.markdown-code {
    /*-fx-max-width: 300*/
}

.markdown-code,
.markdown-codeblock {
    -fx-wrap-text: true;
}

.markdown-codeblock-box,
.markdown-code-background {
    -fx-padding: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: -mdfx-code-block-border;
    -fx-border-width: 0.5px;
    -fx-background-radius: 8px;
    -fx-background-color: -mdfx-code-block-background;
}

.markdown-code-background {
    -fx-border-width: 0px;
}

.markdown-code-anti-padding {
    /*-fx-padding: -8;*/
    -fx-border-color: red;
    -fx-border-width: 1px;
}

.markdown-table-table {
    -fx-vgap: -1px;
    -fx-hgap: -1px;
}

.markdown-table-cell {
    -fx-padding: 8px;
    -fx-border-color: -mdfx-border-color-1;
    -fx-border-width: 0px;
}

.markdown-table-even {
    -fx-background-color: -mdfx-bg-color-1;
}

.markdown-table-odd {
    -fx-background-color: -mdfx-bg-color-2;
}

.markdown-table-cell-top {
    -fx-background-color: -mdfx-bg-color-3;
}

.markdown-table-cell-top .markdown-normal-flow {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.markdown-hbox1 {
    -fx-spacing: 0px;
    -fx-padding: 2px;
}

/* ---------- BLOCK QUOTE ---------- */

.markdown-normal-block-quote {
    -fx-background: -mdfx-bq-color-background;
    -fx-background-color: -fx-background;
    -fx-border-color: -mdfx-bq-color-border;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-padding: 10px;
}

.markdown-normal-block-quote .markdown-normal-flow .markdown-text {
    -fx-fill: -mdfx-bq-text-fill;
}

/* ---------- CODE BLOCK ---------- */

.markdown-code-block {
}

.markdown-code-block .code-text-flow {
    -fx-padding: 12px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: -mdfx-code-block-border;
    -fx-border-width: 1px;
    -fx-background-color: -mdfx-code-block-background;
    -fx-line-spacing: 2px;
    -fx-font-family: "monospace";
}

.markdown-code-block.scrollable .code-scroll-pane {
    -fx-padding: 0px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: -mdfx-code-block-border;
    -fx-border-width: 1px;
    -fx-background-color: -mdfx-code-block-background;
}

.markdown-code-block.scrollable .code-scroll-pane .viewport,
.markdown-code-block.scrollable .code-scroll-pane .corner {
    -fx-background-color: transparent;
}

.markdown-code-block.scrollable .code-text-flow {
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}
