.linkheader-link-hbox {
    -fx-spacing: 8;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-pref-height: 48;
    -fx-max-height: 48;
}

.linkheader-link {
    -fx-alignment: center;
    -fx-pref-width: 192;
    -fx-padding: 8;
}

.linkheader-link:hover {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #A5E7AFFF;
    -fx-border-color: #1EC337FF;
}