
.devfilter-vbox {
    -fx-background-color: #f0f0f0;
}

.devfilter-hbox {
    -fx-alignment: center;
    -fx-padding: 6;
    -fx-spacing: 16;
}

.devfilter-icon-button,
.devfilter-icon-button:focused {
    -fx-font-size: 24;
    -fx-padding: 0;
    -fx-background-radius: 18;
    -fx-min-width: 36;
    -fx-min-height: 36;

    -fx-border: transparent;
    /*-fx-background-color: transparent;*/
}