.statisticsfilter-hbox {
    -fx-alignment: center;
    -fx-padding: 6;
    -fx-spacing: 8;
}

.statisticsfilter-statbox {
    -fx-alignment: center-left;
    -fx-padding: 6;
    -fx-background-radius: 6;
}

.statisticsfilter-statbox-labels {
    -fx-alignment: center-right;
}

.statisticsfilter-statbox-labels .label {
    -fx-font-size: 12px;
    -fx-text-alignment: right;
}

.statisticsfilter-statbox-values {
    -fx-padding: 0 4 0 4;
    -fx-alignment: center-right;
}

.statisticsfilter-statbox-values .label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-alignment: right;
    -fx-min-width: 18px;
}

.statisticsfilter-statbox-units {
    -fx-alignment: center-right;
}

.statisticsfilter-statbox-units .label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-alignment: right;
    -fx-min-width: 36px;
}
